#### Пользовательская сторона

In [1]:
import requests

import urllib.request
import json

In [2]:
# Пример данных
data = ( 
    "Play with kids, get paid for it.Vacancies in Asia$1500 USD + monthly ($200 Cost of living)Housing providedAirfare ReimbursedExcellent for student loans/credit cardsGabriel Adkins (#URL_ed9094c60184b8a4975333957f05be37e69d3cdb68decc9dd9a4242733cfd7f7#)#URL_75db76d58f7994c7db24e8998c2fc953ab9a20ea9ac948b217693963f78d2e6b#We are looking for friendly people. If you do not plan to take part in a 3-5 minute interview, kindly do not waste your time applying :-)",
    "We help teachers get safe &amp; secure jobs abroad :)",
    "0"
)

In [3]:
# формируем запрос
def send_json(x):
    description, company_profile, benefits = x
    
    body = {
        'description': description, 
        'company_profile': company_profile,
        'benefits': benefits
        }
    myurl = 'http://127.0.0.1:5000' + '/predict'
    headers = {'content-type': 'application/json; charset=utf-8'}
    response = requests.post(myurl, json=body, headers=headers)
    return response.json()['predictions']

In [4]:
# обращение к серверу с запросом из одного набора 
response = send_json(data)
print('предсказание', response)

предсказание 0.008697720401471048

In [17]:
# Пример данных 2
data = (
    "Stylect is a dynamic startup that helps helps women discover and buy shoes. We’re a small team based in London that has previously worked at Google, Techstars, Pixelmator and Rocket Internet.We place a high premium on simplicity no matter what we’re working on (i.e. design, programming, marketing). We’re also a team that ships fast. We built version 1 of our app in a week, the next release (built in a month) was featured in the Apple Appstore Italy as a best new fashion app. Fast release cycles are challenging, but also very fun - which is why we love them.\xa0As we’ve grown, the projects that we’re working on have grown both in scale and in technical complexity. \xa0Stylect is looking for someone who can help us improve our backend which gathers product data; analyses/categorizes it; and shows it to thousands of users daily. Each step in the process has unique challenges that demands a strong technical background.",
    "ustwo offers you the opportunity to be yourself, whilst delivering the best work on the planet for some of the biggest and most innovative brands. A culture thriving on collaboration underpins what is an amazing work smart/ live well environment.We genuinely care about the work that we deliver and the people who help make it all possible. We only invest in projects, people and practices that we believe in, to ensure we remain excited about every opportunity.",
    "We are negotiable on salary and there is the potential for equity for the right candidate."
)

In [18]:
# обращение к серверу с запросом из одного набора 
response = send_json(data)
print('предсказание', response)

предсказание 0.0013539117062165288

In [5]:
import pandas as pd
from sklearn.metrics import roc_auc_score, roc_curve, precision_recall_curve
from sklearn.metrics import f1_score
from urllib import request, parse


X_test = pd.read_csv("X_test.csv")
y_test = pd.read_csv("y_test.csv")
X_test = X_test.fillna('0')

In [6]:
X_test.head(10)

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,4709,Python Engineer,"GB, , London",0,0,0,Stylect is a dynamic startup that helps helps ...,We don’t care where you studied or what your G...,We are negotiable on salary and there is the p...,0,1,0,Full-time,Entry level,Unspecified,Apparel & Fashion,Information Technology,0
1,11080,Entry Level Sales,"US, OH, Cincinnati",0,55000-75000,0,General Summary: Achieves maximum sales profit...,0,Great Health and DentalFast Advancement Opport...,1,0,0,Full-time,Entry level,High School or equivalent,Financial Services,Sales,0
2,12358,Agile Project Manager,"US, NY, New York",0,0,ustwo offers you the opportunity to be yoursel...,"At ustwo™ you get to be yourself, whilst deliv...",Skills• Experience interfacing directly with c...,0,0,1,0,0,0,0,0,0,0
3,14512,Marketing Coordinator,"GB, GBN, London",Business:Marketing,0,"We build software for fashion retailers, to he...",About EDITDEDITD runs the world's biggest appa...,Required Skills / Experience:Ability to analys...,0,0,1,0,Full-time,0,0,0,Marketing,0
4,16692,Full-stack Web Engineer,"US, CA, San Francisco",0,0,Runscope is building tools for developers work...,As a Web Engineer at Runscope you'll be respon...,Extensive front-end web experience (HTML/CSS/J...,Be a part of an experienced team who have work...,0,1,1,Full-time,Mid-Senior level,0,0,Engineering,0
5,1412,BigData Consultant,"US, CA, Campbell",0,0,"Innovative Data Science Solutions Insights, Pu...",About the Job:&nbsp;&nbsp;&nbsp;This is a key ...,Basic/Minimum Job QualificationsStrong hands o...,0,0,1,1,0,0,0,0,0,0
6,8516,Customer Care Agent (Night Shift with Spanish),"IE, ,",0,0,ding* is the world’s largest top-up provider. ...,Customer Care Agent (Night Shift with Spanish)...,0,0,0,1,1,Full-time,0,0,Telecommunications,Customer Service,0
7,4990,English Teacher Abroad (Conversational),"US, MN, Duluth",0,0,We help teachers get safe &amp; secure jobs ab...,"Play with kids, get paid for it.Vacancies in A...",University degree required. TEFL / TESOL / CEL...,See job description,0,1,1,Contract,Entry level,Bachelor's Degree,Education Management,Education,0
8,362,Junior System Test Analyst,"GB, CMD, London",Technology,19000-19000,The Technical Team and offering at VML London ...,"At VML, testing is an integral part of our sof...",Execute requirements based manual test casesCo...,0,0,1,1,Full-time,Associate,Bachelor's Degree,Marketing and Advertising,Engineering,0
9,8251,Head of Community,"GB, LND, London",0,0,Seedcamp is Europe's leading micro-seed invest...,"The JobBuild relationships with the mentor, in...",0,0,0,1,0,Full-time,Not Applicable,Unspecified,Venture Capital & Private Equity,Other,0

In [7]:
X_test.describe()

,job_id,telecommuting,has_company_logo,has_questions,fraudulent
count,5901.000000,5901.000000,5901.000000,5901.000000,5901.000000
mean,8925.978309,0.043044,0.783596,0.499407,0.050669
std,5147.272513,0.202972,0.411828,0.500042,0.219340
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,4470.000000,0.000000,1.000000,0.000000,0.000000
50%,8903.000000,0.000000,1.000000,0.000000,0.000000
75%,13345.000000,0.000000,1.000000,1.000000,0.000000
max,17879.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
import numpy as np
X_test = X_test[~X_test.isin([np.nan, np.inf, -np.inf]).any(1)]

Передаем запрос одиночный из наших данных и посмотрим на ответ

In [9]:
response = send_json(X_test[['description', 'company_profile', 'benefits']].iloc[0,:])

In [10]:
X_test[['description', 'company_profile', 'benefits']].head()

,description,company_profile,benefits
0,Stylect is a dynamic startup that helps helps ...,0,We are negotiable on salary and there is the p...
1,General Summary: Achieves maximum sales profit...,0,Great Health and DentalFast Advancement Opport...
2,"At ustwo™ you get to be yourself, whilst deliv...",ustwo offers you the opportunity to be yoursel...,0
3,About EDITDEDITD runs the world's biggest appa...,"We build software for fashion retailers, to he...",0
4,As a Web Engineer at Runscope you'll be respon...,Runscope is building tools for developers work...,Be a part of an experienced team who have work...

In [11]:
N = 50

In [12]:
%%time
predictions = X_test[
                     ['description', 'company_profile', 'benefits']
                     ].iloc[:N].apply(lambda x: send_json(x), axis=1)

CPU times: total: 141 ms
Wall time: 1.43 s

In [13]:
predictions.values[:5]

array([0.02617387, 0.04457579, 0.00480416, 0.0010568 , 0.00122864])

In [14]:
y_test.head()

   fraudulent
0           0
1           0
2           0
3           0
4           0

In [15]:
import numpy as np

precision, recall, thresholds = precision_recall_curve(y_test[:N], predictions)

fscore = (2 * precision * recall) / (precision + recall)

ix = np.argmax(fscore)
print(f'Best Threshold={thresholds[ix]}, F-Score={fscore[ix]:.3f}, Precision={precision[ix]:.3f}, Recall={recall[ix]:.3f}')

Best Threshold=0.9078009371449137, F-Score=0.667, Precision=1.000, Recall=0.500

In [16]:
roc_auc_score(y_score=predictions.values, y_true=y_test.values[:N])

0.9270833333333333